* {
    box-sizing: border-box;
}

html,
body,
#root,
.app {
    height: 100%;
}

body {
    margin: 0;
}
html {
    color: $clr5;
}

button:hover {
    cursor: pointer;
}

.btn {
    border: none;
    background-color: $clr2;
    padding: 5px;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
    }
}
